body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

/* Theme-related styles */
:root {
    --text-light: #11181c;
    --background-light: #fff;
    --tint-light: #0a7ea4;
    --icon-light: #687076;

    --text-dark: #ecedee;
    --background-dark: #151718;
    --tint-dark: #fff;
    --icon-dark: #9ba1a6;
}

/* Dark mode specific styles */
@media (prefers-color-scheme: dark) {
    :root {
        color-scheme: dark;
    }
}

/* Reset styles */
* {
    box-sizing: border-box;
}

a {
    color: var(--tint-light);
    text-decoration: none;
}

html,
body,
#root {
    height: 100%;
}

/* Apply theme on body level */
body[data-theme="light"] {
    background-color: var(--background-light);
    color: var(--text-light);
}

body[data-theme="dark"] {
    background-color: var(--background-dark);
    color: var(--text-dark);
}
